# Copie este arquivo para ".env" e preencha com seus dados reais.
# NUNCA suba o arquivo .env pro GitHub.

# Pegue rodando: node lib/getAuthKey.js seu-email suaSenha
STREMIO_AUTH_KEY=m74dELeNClffJQgGuHEmyrexNL7cx4YvJoAkS4r-ZIQ=


# Crie gratis em https://www.themoviedb.org/settings/api
TMDB_API_KEY=14894e2721948ed4912b05a7f5de9d9c

# Porta do servidor (o Render define isso sozinho, pode deixar)
PORT=7000
